.leadsup__vantagens {
  padding: 1.5rem 10rem;
  margin: 2rem 0;
}

.leadsup__vantagens-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leadsup__vantanges-img img {
  width: 380px;
}

.leadsup__vantagens-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leadsup__vantagens-content h1 {
  font-weight: 600;
  color: var(--color-title);
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.leadsup__vantagens-itens_item {
  color: var(--color-paragraph-variant);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.leadsup__vantagens-itens_item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1050px) {
  .leadsup__vantanges-img img {
    width: 300px;
  }

  .leadsup__vantagens-content {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 800px) {
  .leadsup__vantagens {
    padding: 1.5rem 5rem;
  }

  .leadsup__vantanges-img img {
    width: 220px;
  }

  .leadsup__vantagens-content h1 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .leadsup__vantagens-itens_item {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .leadsup__vantagens {
    padding: 1.5rem 3rem;
  }

  .leadsup__vantagens-container {
    flex-direction: column;
  }

  .leadsup__vantanges-img img {
    width: 170px;
  }

  .leadsup__vantagens-content {
    margin-left: 0;
    margin-top: 2rem;
  }
}
