.leadsup__parceiros {
  padding: 1.5rem 10rem;
  margin: 5rem 0;
}

.leadsup__parceiros-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leadsup__parceiros-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leadsup__parceiros-text h1 {
  color: var(--color-title);
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.leadsup__parceiros-text p {
  color: var(--color-pararaph-variant);
  font-size: 0.9rem;
  text-align: center;
}

.leadsup__parceiros-carousel {
  margin: 3rem;
  width: 40%;
}

@media screen and (max-width: 800px) {
  .leadsup__parceiros {
    padding: 1.5rem 5rem;
  }

  .leadsup__parceiros-text p {
    font-size: 0.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .leadsup__parceiros {
    padding: 1.5rem 3rem;
  }

  .leadsup__parceiros-container {
    flex-direction: column;
  }

  .leadsup__parceiros-carousel {
    margin: 1rem;
    width: 80%;
  }
}
