.leadsup__estrategia {
  padding: 1.5rem 10rem;
  margin: 5rem 0;
}

.leadsup__estrategia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leadsup__estrategia-container h1 {
  color: var(--color-title);
  font-size: 2.1rem;
  margin-bottom: 4rem;
}

.leadsup__estrategia-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.leadsup__estrategia-card {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 300px;
  padding: 0 1rem;
  background-color: var(--color-primary);
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.leadsup__estrategia-card_img {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.leadsup__estrategia-card h1 {
  font-size: 1.15rem;
  color: var(--color-title);
  margin-bottom: 1rem;
}

.leadsup__estrategia-card_text {
  font-size: 0.9rem;
  color: var(--color-white);
  text-align: center;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@media screen and (max-width: 1050px) {
  .leadsup__estrategia {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  .leadsup__estrategia-card:last-child {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .leadsup__estrategia-container h1 {
    text-align: center;
    font-size: 1.7rem;
  }

  .leadsup__estrategia-card:nth-child(2) {
    margin-top: 2rem;
  }
}
